#root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  color: black;
  background-color: white;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FBFBFB;
  flex-direction: column;
}

.App img{
  height: 50px;
  margin: 15px;
}

.appContainer {
  width: 100%;
  flex-direction: row;
  display: flex;
}

/* ********************** for Post.jsx ********************** */

.postPage {
  width: 50%;
  max-height: 100vh;
  overflow-y: auto;
  background: #FBFBFB;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  align-items: center;
  padding-right: 5%;
  padding-left: 5%;
}

.postContainer {
  width: 100%;
  border-radius: 10px;
  border: 4px solid;
  border-color: #b7b7a4;
  background-color: #FBFBFB;
  display: flex;
  align-items: flex-start;
  padding: 10px;
  
}

.texts {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 5px;
  padding-top: 10px;
  padding-left: 5px;
}

.mainText {
  font-weight: 700;
  font-size: 15;
}

.bodyText {
  font-size: 15;
  font-weight: 500;
}

.postContainer img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.heartIcon {
  flex-shrink: 0;
}


/* ********************** for Profile.jsx ********************** */

.profPage {
  width: 50%;
  background: #FBFBFB;
  margin-left: 3%;
  margin-right: 3%;
  max-height: 100vh;
  overflow-y: auto;
}

.profContainer {
  border-radius: 10px;
  background: #B7B7A4;
  width: 100%;
  overflow: auto;
  margin-bottom: 5%;
}

/* ********* for header part ********* */

.profHeader{
  height: 35%;
  padding-top: 30px;
  padding-left: 40px;
  padding-right: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: flex-start;
  column-gap: 10px;
}

.profHeader img {
  width: 137px;
  height: 137px;
  border-radius: 50%;
  object-fit: cover;
}

.profHeaderTexts {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  padding-left: 20px;
}

/* ********* for middle part ********* */

.profMid{
  height: 20%;
  display: flex;
  justify-content: flex-start;
  column-gap: 10px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.position {
  background-color: #FBFBFB;
  width: 200px;
  height: 70%;
  display: flex;
  flex-direction: column;
  border-radius: 0 10px 10px 0;
  align-items: center;
  justify-content: center;
  padding-top: 7px;
  padding-bottom: 7px;
}

.funfact {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 60%;
}

/* ********* for bottom part ********* */

.profBot {
  height: 25%;
  display: flex;
  column-gap: 10px;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: flex-end;
  padding-bottom: 20px;
}

.studies {
  width: 50%;
  background-color: #FBFBFB;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 10px;
}

.favs {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 100%;
  text-align: start;
}

/* ********* for quote/last part ********* */

.quote {
  height: 20%;
  text-align: center;
}
